@using Microsoft.AspNetCore.Identity
@using DataSets.Entity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var profileName = user?.Name;
}
<ul class="nav nav-pills nav-sidebar flex-column">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-action="Profile" asp-controller="User" asp-area="Admin">
                <i class="fas fa-user-alt"></i>
                <p>Hi @profileName</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-action="Logout" asp-controller="User" asp-area="Admin">
                <i class="fas fa-sign-out-alt"></i>
                <p>Logout</p>
            </a>
        </li>
    }
    else
    {
        <li class="nav-item active">

            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-registered"></i>
                <p>Register</p>
            </a>
        </li>
        <li class="nav-item active">

            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-user"></i>
                <p>Login</p>
            </a>
        </li>
    }
</ul>