@{
    ViewData["Title"] = "Rolelist";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<div class="row">
    <div class="col-12">
        <h1 class="text-info text-center">Role List</h1>
    </div>
</div>

<div>
    <table class="table table-striped border" id="DT_load">
        <thead>
            <tr class="table-info">
                <th>Name</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.Role)
            {
                <tr>
                    <td>@item.Name</td>
                    <td style="width: 150px">
                        <div class="btn-group">
                            <a asp-action="Upsert" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#DT_load').DataTable();
        });
        $(function () {
            var save = '@TempData["save"]'
            if (save != null && save != '') {
                if (save == "Delete") {
                    alertify.error('Role has been Deleted Successfully');
                }
                else if (save == "Update") {
                    alertify.warning('Role has been Updated Successfully');
                }
                else alertify.success(save);
            }

        })
    </script>
}

