@model DataSets.ViewModels.ProductVM

@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Product";
}

<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Product.ID != 0)
        {
            //edit
            title = "Edit Product";
            <input type="hidden" asp-for="Product.ID" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Description"></label>
                </div>
                <div class="col-8">
                    @*<input asp-for="Product.Description" class="form-control" />
                        <span asp-validation-for="Product.Description" class="text-danger"></span>*@
                    <textarea asp-for="Product.Description" class=" form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.ListPrice"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Price50"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Price50" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Price100"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Price100" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    @*<label asp-for="Product.Title"></label>*@
                    <label>Category</label>
                </div>
                <div class="col-8">
                    @*<input asp-for="Product.Title" class="form-control" />*@
                    @Html.DropDownListFor(m => m.Product.CategoryID, Model.CategoryList, "-Select a Category", new { @class = "form-control" })
                    <span asp-validation-for="Product.CategoryID" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Photo"></label>
                </div>
                <div class="col-8">
                    <input type="file" asp-for="Product.Photo" id="uploadBox" multiple class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Product.ID != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Product.ID" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (Model.Product.ID != 0)
        {
            <div class="col-3 offset-1 pt-4">
                <img src="@Model.Product.ImageURL" width="100%" style="border-radius:3px;border:1px solid gray;" />
            </div>
        }
        else
        {
            <div class="col-3 offset-1 pt-4">
                <img id="imageupload" src="~/images/noImage.png" width="100%" style="border-radius:3px;border:1px solid gray;" />
            </div>
        }
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.tiny.cloud/1/lr2tsw2sglo8y9pmtsv01npgkn5k997fe2ut6jifyrcoe2k1/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        $(document).ready(function () {
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#imageupload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $('#uploadBox').change(function () {
                readURL(this);
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);

            })


            tinymce.init({
                selector: 'textarea',
                plugins: 'lists',
                menubar: 'file edit format'
            });

            function validateInput() {
                if (document.getElementById("uploadBox").value == "") {
                    swal("Error", "Please select an image", "error");
                    return false;
                }
            }
        })
    </script>

}